.list {
    display: flex;
    justify-content: center;
}

.indItem {
    border: 5px solid black;
    box-sizing: border-box;
    padding: 2rem 1rem 1rem 1rem;
    margin: 10px ;
    border-radius: 10%;
    background-color: white;
    position: center;
    min-width: 300px;
    max-width: 300px;
    box-shadow: 1px 1px 0px #999,
    2px 2px 0px #999,
    3px 3px 0px #999,
    4px 4px 0px #999,
    5px 5px 0px #999,
    6px 6px 0px #999;
}

.indItem:hover{
    transform: scale(1.2);
}

.easy {
    background-color: rgb(170, 236, 170) ;
}

.hard {
    background-color: rgb(238, 105, 105);
}

.med {
    background-color: rgb(245, 245, 130);
}

.pagetitle {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color:grey;
}

.title {
    color:grey;
    text-align: center;
    font-weight: bold;
}

.difficultid {
    font-weight: 200;
}

.itemname {
    font-size: 25px;
    font-weight: bold;
    color:rgb(25, 66, 66)
}

.workhours {
    color:rgb(0, 3, 3);
    font-weight: 600;
}

.flexnote {
    display: flex;
    justify-content: space-between;
}

.notebutton {
    font-size:  12px !important;
	padding: 0px  !important;
    font: inherit;
	font-size: 1.25rem;
	width: 25%;
	font-weight: 500;
	background-color: #a52a2a;
	border-radius: 6px;
	color: #FFF;
	border: 0;
}

.popup{
    position:fixed;
    top: 0;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-direction: column;
    border-radius: 6px;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 35%;
    max-width: 640px;
    background-color: rgb(212, 197, 178);
    overflow-wrap: break-word;
    border-radius: 6px;
    box-shadow: 1px 1px 0px #999,
    2px 2px 0px #999,
    3px 3px 0px #999,
    4px 4px 0px #999,
    5px 5px 0px #999,
    6px 6px 0px #999;
    max-height: 20vh;
    min-width: 134px;
    overflow: scroll;
}

.close-btn{
    width: 150%;
    font-size:  15px !important;
	padding: 1px  !important;
    font: inherit;
	background-color: #a52a2a;
	border-radius: 6px;
	color: #FFF;
	border: 0;
}

.div1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: -8%;
}

.div2{
    overflow: auto;
}

.popup-inner::-webkit-scrollbar {
    display: none;
}

.searchbutton {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttondiv {
    display: flex;
    flex-direction: row ;
    justify-content: center;
    width: 96vw;
}

.prioritydrop{
    margin-top: -2em;
    margin-left: 80%
}

.needs{

    width: 50%;
}

.wants{

    width: 50%;
}

.items{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}