.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    padding-top: .5rem;
    display: flex;
    justify-content: center;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    font: inherit;
	font-size: 1.2rem;
    margin: .25em 1px;
	width: 100%;
	font-weight: 500;
	color: #FFF;
	border: 0;
    text-align: center;
    text-decoration: none;
}


.qit{
    background-color: #aca0a0;
    border-radius: 20px;
    padding: 1em;
}